{
  "switchbot": {
    "token": "",
    "secret": "",
    "light_device_id": "",
    "light_scene_id": "",
    "air_conditioner_id": ""
  },
  "owntone": {
    "url": "",
    "timeout": 10
  },
  "yamaha": {
    "url": "",
    "timeout": 10
  },
  "influxdb": {
    "token": "",
    "url": "",
    "bucket": "",
    "org": "personal",
    "measurement": "temperature"
  }
}