{
  "switchbot": {
    "token": "",
    "secret": "",
    "light_device_id": "",
    "light_scene_id": "",
    "air_conditioner_id": ""
  },
  "owntone": {
    "url": ""
  },
  "yamaha": {
    "url": ""
  }
}